@{
	ViewData["Title"] = "تماس با ما";
}

<h1 class="text-center">با ما در تماس باشید.</h1>
<br />
<div class="row">
	<div class="col-md-3">
		<div class="card mb-4 box-shadow">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal text-center">راه های ارتباطی</h4>
			</div>
			<div class="card-body">
				<ul class="list-unstyled mt-3 mb-4">
					<li>021867986</li>
					<li>09156796595</li>
					<li>aliali@ali.com</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="card mb-4 box-shadow">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal text-center">خوش آمدید</h4>
			</div>
			<h4> از طریق راه های ارتباطی با ما در تماس باشید. </h4>
		</div>
	</div>
</div>